#result{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 10px;
    grid-auto-columns: 10px;
    
    gap: 10px;
}

.pupa{
    width: 100%;
    height: auto;
    grid-row: span 20;
}